body {
    background-color: bisque;
    
}

.ref {
    font-style: italic;
}

#head {
    font-size: xx-large;
    color: brown;

}

h2 {
    font-size: x-large;
    color: chocolate;
}

#b1 {
    font-size: larger;
    color:indigo;
    font-weight: bold;
}

p {
    color: darkred;
}